.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardControlContainer {
    display: flex;
    justify-content: space-between;
}
.cardControlButton {
    margin: 5px;
}

.list {
    margin: 20px;
    padding-bottom: 20px;
}

.grey {
   opacity: 0.5;
   color: grey;
}

.newCardForm {
    padding: 20px;
    margin: 20px;
}

.jumboStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}